<h1>{{name}}</h1>
<input type="text" ng-model="name">

<div ng-repeat="task in tasks | filter:name | orderBy:'name'">
</div>

<main ng-controller="TodoCtrl">
  <div ng-repeat="task in tasks">
      {{task.name}}
      <br>
  </div>
</main>
